*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


div {
    width: 250vw;
    background-color: red;
}

section{
    background-color: yellow;
    /* overflow: hidden; */
    overflow: hidden;
    width: 250vw;
    
}